
<MudDialog>
    <DialogContent>
        <div style="height: 55vh; display: flex; justify-content: center; align-items: center;">
            <canvas style="height: 50%;" @ref="canvasElem"></canvas>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>